.app-body {
    min-height: calc(100vh - 61px);
    color: whitesmoke;
    display: grid;
    grid-template-columns: 8vw auto 8vw;
}

.app-body-left {
    position: relative;
}

.app-body-left .link {
    font-size: 1.5vw;
    text-decoration: none;

    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;


    position: absolute;
    top: 22.5vh;
    left: 5.5vw;
    margin-left: -30px;

    transform: rotate(270deg);
    transform-origin: 0 0;
    transition: color 0.5s;
}

.app-body-left .link:hover {
    color: #D4A418;
}

.app-body-left .line-container {
    margin: 25vh 5vw 0 5vw;
    height: 50%;
}

.app-body-left .line-container .line {
    height: 100%;
    border-right: 1px solid whitesmoke;
}

.app-body-right {
    position: relative;
}

.app-body-right .app-body-right-text {
    font-size: 1.5vw;
    text-decoration: none;

    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: max-content;
    height: fit-content;

    position: absolute;
    bottom: 10vh;
    left: 5.5vw;
    margin-left: -30px;

    transform: rotate(270deg);
    transform-origin: 0 0;
    transition: color 0.5s;
}

.app-body-middle .container {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vw;
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 61px - 2vw);
}

.middle-left {
    width: fit-content;
}

.middle-left .home-title {
    font-size: 4em;
    font-weight: 500;
    width: 35vw;
    line-height: 1em;
    margin: 1em 0 0 0;
}

.middle-left .home-message {
    font-size: 1.5em;
    width: 35vw;
    margin-bottom: 5vh;
}

.middle-left .home-button {
    padding: 0.5em 2em;
    font-size: 2.5em;
    background-color: rgb(46, 41, 78);
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: color 0.5s;
}

.middle-left .home-button:hover {
    background-color: rgba(46, 41, 78, 0.9);
}

.middle-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-right img {
    border-radius: 50%;
}