.app-body-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-body-login-upper {
    height: calc(100vh - 61px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-body-login-upper .or-text {
    color: #D4A418;
    font-weight: 500;
}

.login-container {
    text-align: center;
}

.login-content {
    background-color: whitesmoke;
    border-radius: 25px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;
    padding: 35px;
    width: 26vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-body-login .social-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.social-login .social-btn {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    width: 10vw;
    color: #D4A418;
    transition: 0.5s color;
}

.social-login .social-btn:hover {
    color: #8A6C10;
}

.app-body-login .social-btn img {
    height: 32px;
    float: left;
    margin-top: 0;
}

.app-body-login .social-btn.google {
    margin-top: 0;
}

.app-body-login .social-btn.github img {
    height: 24px;
    margin-left: 3px;
}

.app-body-login-upper .signup-link {
    color: #D4A418;
    font-size: 14px;
}

.app-body-login-upper .signup-link a {
    color: #8A6C10;
    font-size: 14px;
    transition: 0.5s color;
}

.app-body-login-upper .signup-link a:hover {
    color: #D4A418;
}

.login-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: #D4A418;
}

.app-body-login .form-item-btn {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.app-body-login .form-item {
    padding: 10px;
}

.app-body-login .form-item .form-control {
    padding: 1rem 0.5rem;
}

.btn-big {
    padding: 1rem 2rem;
}

.btn-primary {
    color: whitesmoke;
    background-color: #D4A418;
    border-radius: 25px;
    border: none;
    transition: 0.5s background-color;
}

.btn-primary:hover {
    background-color: #8A6C10;
}